<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.0">	
	<id>custommessage</id>
	<name>Custom Message</name>
	<version>1.2</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Partners In Health</author>
	<description>Supports user-defined, live translations of OpenMRS</description>
	<activator>@MODULE_PACKAGE@.ModuleActivator</activator>
	<require_version>1.8</require_version>	

	<globalProperty>
		<property>@MODULE_ID@.showMessageCodes</property>
		<defaultValue>false</defaultValue>
		<description>If set to true, this will show the message codes rather than the translations</description>
	</globalProperty>
	
	<globalProperty>
		<property>@MODULE_ID@.inplaceCustomizationEnabled</property>
		<defaultValue>false</defaultValue>
		<description>Global property that enables in-place customization capabilities of this module</description>
	</globalProperty>
	
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.AdministrationPageExtension</class>
	</extension>
	
	<extension>
		<point>org.openmrs.footerFullBeforeStatusBar</point>
		<class>@MODULE_PACKAGE@.extension.ToggleTranslateModeExtension</class>
	</extension>
	
	<privilege>
		<name>Manage Custom Messages</name>
		<description>This privilege will give a user access editing custom message translations</description>
	</privilege>
	
	<dwr>
		<allow>
			<create creator="new" javascript="DWRCustomMessageService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.dwr.DWRCustomMessageService"/>
				<include method="toggleTranslateMode"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.dwr.DWRCustomMessageService;
			]]>
		</signatures>	
	</dwr>
	
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	
	<mappingFiles>
		CustomMessage.hbm.xml
	</mappingFiles>
</module>
